{% extends "base.html" %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
<div class="container">
	<h2>{{ course.name }}</h2>
	<h4>Students:</h4>
	<div class="table_container">
		<table class="table">
		  <tbody>
		  	{% load extra_tags %}
		  	{% for member_group in members_shopping %}
		    <tr>
		    	{% for member in member_group %}
		      <td class=""><a href="/user/{{ member|get_item:'id' }}">{{ member|get_item:'name' }}</a>{% if member|get_item:'is_shopping' %} (shopping){% endif %}</td>
		      {% endfor %}
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% endblock %}