{% extends "base.html" %}

{% block header %}
<div class="navbar navbar-fixed-top navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/home">Scheduler</a>
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h3>See what classes your friends are taking.</h3>
  <p>Tagline</p>
  <p>
  	<div class="" style="text-align: center">
    	<a href="/home" class="btn btn-primary btn-large">
      	Login with Facebook
    	</a>
  	</div>
  </p>
</div>
<!-- <div class="span3 offset4">
	<a href="/home" class="btn btn-primary btn-large">Login with Facebook</a>
<div> -->
{% endblock %}
